@import "tailwindcss";

@font-face {
  font-family: "EB Garamond";
  src: url(/static/fonts/EBGaramond-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(/static/fonts/OpenSans-Normal.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(/static/fonts/JetBrainsMono-Normal.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-garamond: "EB Garamond", serif;
  --font-sans-open: "Open Sans", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", serif;
  --dark-orange: #ba3925;
  --dirty-gray: #828282;
}

@layer utilities {
  body {
    font-size-adjust: ex-height 0.53;
  }

  #blog {
    line-height: 1.7;
  }

  #blog h1 {
    font-family: var(--font-sans-open);
    color: var(--dark-orange);
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }

  #blog h2 {
    font-family: var(--font-sans-open);
    color: var(--dirty-gray);
    font-size: 1.5rem;
    padding-bottom: 1.6rem;
  }

  #blog p {
    padding-bottom: 1.7rem;
    font-family: var(--font-garamond);
    font-size: 1rem;
    font-weight: 400;
  }
  #blog p:has(+ ul) {
    padding-bottom: 0;
  }
  #blog p:has(+ ol) {
    padding-bottom: 0;
  }
  #blog p:has(+ pre > code) {
    padding-bottom: 0;
  }

  #blog a {
    text-decoration: underline;
    transition: color 0.2s ease;
  }
  #blog a:hover {
    color: var(--dark-orange);
  }

  #blog code {
    color: var(--dark-orange);
  }

  #blog pre > code {
    display: block;
  }

  #blog ul {
    list-style: disc;
    padding-left: 10%;
    padding-bottom: 1rem;
  }
}
