package components

type BlogLinkType struct {
	Link      string
	BlogTitle string
	Date      string
}

templ BlogLink(item BlogLinkType) {
	<span class="text-2xl font-sans-open text-wrap text-(--dirty-gray)">{ item.Date }</span>
	<a
		href={ item.Link }
		class="hover:underline text-(--dark-orange) text-3xl font-sans-open"
	>
		{ item.BlogTitle }
	</a>
}
