package components

type NavItemType struct {
	Text string
	Link string
}

templ Nav(navItems []NavItemType) {
	<nav class="flex w-full text-2xl justify-between py-5">
		<a class="underline" href="/">
			<h1 class="text-3xl">david</h1>
		</a>
		<ul class="flex gap-4">
			for _,navItem := range navItems {
				@NavItem(navItem)
			}
		</ul>
	</nav>
}
