package nav 

templ Nav() {
	<nav class="flex w-full text-2xl justify-between py-3">
		<a class="underline" href="/about">
			<h1 class="">david</h1>
		</a>
		<ul class="flex gap-4">
			<li>
				<a class="hover:underline" href="/about">
					About
				</a>
			</li>
			<li>
				<a class="hover:underline" href="/about">
					Resume
				</a>
			</li>
		</ul>
	</nav>
}
