package nav 

templ Nav() {
	<nav class="flex w-full text-2xl justify-between py-5">
		<a class="underline" href="/">
			<h1 class="text-3xl">david</h1>
		</a>
		<ul class="flex gap-4">
			<li>
				<a class="hover:underline" href="/about">
					About
				</a>
			</li>
			<li>
				<a class="hover:underline" href="/resume">
					Resume
				</a>
			</li>
		</ul>
	</nav>
}
