package pages

import "github.com/DevitoDbug/portfolio/internals/web/layout"

templ Error(errorMassage string) {
	@layout.App() {
		<div class="h-1/2 text-center italic text-5xl">
			{ errorMassage }
		</div>
	}
}
